.card {
   border-radius: 10px;
   text-align: left;
}

.heading{
   color: #2d373e;
}

.card p {
   margin-top: 30px;
   margin-bottom: 1rem;
   font-size: 18px;
   color: #2c2822;
   font-family: sans-serif;
}

.c-details span {
   font-weight: 300;
   font-size: 13px
}

.c-details {
   margin-left: 50px !important;
}


.text1 {
   font-size: 14px;
   font-weight: 600
}

.text2 {
   color: #a5aec0
}